body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:azure;
}

main {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    background-color: coral;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    color: darkgreen
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border-color: blueviolet;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: forestgreen

}

footer div {
    text-align: center;
}


img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    border-color: black;
}

a {
    text-decoration: none;

}

a:hover {
    color: green;

}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */

tr:nth-child(2n) {
    background-color: lightsteelblue
}

.hor-bar {
    display: flex;
    gap: 50px;
    /* justify-items: right; */
}

.logo {
    height: 100px;
}
