{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');</style>
    </head>
    <body>


        <header>
            <div><img class = "logo" src="{% static 'logo.png' %}" alt="logo"></div>
            <div></div>
            <nav>

                <ul>

                {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div></div>
        <div>Copyright 2023</div>
        <div></div>
    </footer>
</body>
</html>
